{% extends 'base.html' %}

{% block title %}Article Detail{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">{{ article.title }}</h1>
        {% if article.image %}
            <img src="{{ url_for('static', filename='uploads/' + article.image) }}" class="img-fluid mb-4" alt="{{ article.title }}">
        {% endif %}
        <p>{{ article.text }}</p>
        <a href="{{ url_for('articles') }}" class="btn btn-secondary">Back to Articles</a>
    </div>
{% endblock %}