{% extends 'base.html' %}

{% block title %}Kontakt | Elektric OÜ{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Contact</h1>
        <p class="text-center">Welcome to our contact page!</p>
        <div class="row mt-4">
            <div class="col-md-6">
                <h2>Our Address</h2>
                <p>Elektric OÜ, Sõpruse pst 123, Tallinn, Eesti</p>
            </div>
            <div class="col-md-6">
                <h2>Contact:</h2>
                <p>Telefon: +372 1234 5678</p>
                <p>Email: elektric@bla.bla</p>
            </div>
        </div>
    </div>
{% endblock %}